@page
@model WineTest.Pages.About_usModel
@{
    ViewData["Title"] = "About us";
}
<div class="text-center">
    <h1 class="display-4">Abouts us</h1>
    <p>We are a small company interested in providing our customers with some top quality wines from all around the world</p>
</div>
