@page
@model WineShopApp.Pages.About_usModel
@{
	ViewData["Title"] = "Abouts us";
}
<title>About Us | Our Wine Shop</title>

    <div class="container my-5">
        <div class="row">
        <div class="col-md-6" style="color:aliceblue">
                <h1>About Us</h1>
                <p>
                We are a wine company based in Veliko Tarnovo, 
                Bulgaria, specializing in the sale of high-quality
                wines from around Europe. Our journey began in
                2020, when a group of passionate wine enthusiasts
                came together to share their love and knowledge of wine with others.<br/><br/>

                At our company, we believe that every bottle of
                wine has a story to tell. From the vineyards where
                the grapes are grown, to the wineries where they are transformed 
                into delicious wines, each step in the process adds to the unique 
                character and flavor of the final product.<br/><br/>

                We are dedicated to providing our customers with a carefully curated selection 
                of wines that represent the best of what the world has to offer. Whether you're 
                looking for a bold red to pair with a hearty meal, a crisp white to enjoy on a 
                warm summer day, or something in between, we have something for every taste and occasion.
                </p>
            </div>
            <div class="col-md-6">
                <img src="images/about_us_1.jpg"
                     alt="Wine bottles"
                     class="img-fluid rounded" />
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-6">
                <img src="images/about_us_2.jpg"
                     alt="Wine glasses"
                     class="img-fluid rounded" />
            </div>
        <div class="col-md-6" style="color:aliceblue">
                <h2>Our Mission</h2>
                <p >
                At our company, we believe that wine is more than just a drink - it's a way to create 
                special moments and memories. We strive to share our passion for wine with others by 
                offering a carefully curated selection of high-quality wines from around the world.<br /><br />

                We believe that every bottle of wine has a story to tell, and we want to help our 
                customers discover those stories and create their own special moments. Whether 
                it's a romantic dinner for two, a festive celebration with friends, or simply a 
                quiet night in, we believe that the right wine can elevate any occasion.<br /><br />

                Join us on our mission to discover the beauty of wine and create unforgettable moments.<br/>
                Cheers.
                </p>
            </div>
        </div>
