@page
@model WineShopApp.Pages.AccessoryMoreDetailsModel
@{
	ViewData["Title"] = "Accessories";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
          
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Model.Accessory.Name</h5>
                    <p class="card-text">@Model.Accessory.Price</p>
                    <p class="card-text">@Model.Accessory.Type</p>
                    <p class="card-text">@Model.Accessory.Description</p>
                    <a asp-page="/Accessories" class="btn btn-primary">Go back</a>
                    <button type="button" class="btn btn-secondary">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
