@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1 style="color: white;">Wine Shop Policy</h1>

<h2 style="color: white;">Establishment of Policy Rules</h2>
<p style="color: white;" >
    At our wine shop, we have established the following policy rules to ensure a safe and enjoyable experience for all our customers:
</p>
<ul style="color: white;">
    <li>Customers must be of legal drinking age to purchase alcoholic beverages.</li>
    <li>Alcohol consumption on the premises is strictly prohibited.</li>
    <li>We reserve the right to refuse service to anyone who appears to be intoxicated.</li>
    <li>All sales are final. Returns or exchanges of alcoholic beverages are not accepted.</li>
    <li>Customers are responsible for the proper storage and handling of purchased wines.</li>
    <li>Wines should be consumed responsibly, and we encourage moderate and legal drinking habits.</li>
    <li>Any violation of these policy rules may result in denial of service or legal consequences.</li>
</ul>

<h2 style="color: white;" >Possible Consequences</h2>
<p style="color: white;" >
    Failure to comply with our policy rules may lead to the following consequences:
</p>
<ul style="color: white;">
    <li>Refusal of service and denial of purchase.</li>
    <li>Notification of local authorities, if necessary.</li>
    <li>Loss of future purchasing privileges at our wine shop.</li>
    <li>Legal penalties as determined by local laws and regulations.</li>
</ul>

<p style="color: white;">
    We appreciate your cooperation in adhering to our policy rules. If you have any questions or concerns, please feel free to contact us.
</p>