@page
@model WineTest.Pages.Contact_usModel
@{
	ViewData["Title"] = "Contact us";
}
<h1>@ViewData["Title"]</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <p>Feel free to contact us whenever you need!</p>
            <p>Telephone number: + 0839472637</p>
            <p>Email: 7Gwines@gmail.com</p>
        </div>
        <div class="col-sm-8">
            <h1>Contact Us</h1>
            <p>Fill in the form below with your requirements and we'll get back to you as soon as possible.</p>
            <form method="post" class="contact-form">


                <div class="form-group">
                    <label asp-for="Contact.Email">Email:</label>
                    <span class="text-danger" asp-validation-for="Contact.Email"></span>
                    <input asp-for="Contact.Email" class="form-control" placeholder="Enter your email"><br/>
                </div>


                <div class="form-group">
                    <label asp-for="Contact.Topic">Topic:</label>
                    <span class="text-danger" asp-validation-for="Contact.Topic"></span>
                    <input asp-for="Contact.Topic" class="form-control" placeholder="Enter the topic of your message"><br/>
                </div>


                <div class="form-group">
                    <label asp-for="Contact.Subject">Subject:</label>
                    <span class="text-danger" asp-validation-for="Contact.Subject"></span>
                    <input asp-for="Contact.Subject" class="form-control" placeholder="Enter the subject of your message"><br/>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>
</div>





@section scripts{
    <partial name ="_ValidationScriptsPartial" />
}