@page
@model WineTest.Pages.Contact_usModel
@{
	ViewData["Title"] = "Contact us";
}
<h1>@ViewData["Title"]</h1>
<p>Feel free to contact us whenever you need!</p>
<p>Telephone number: + 0839472637</p>
<p>Emai: 7Gwines@gmail.com</p>