@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/7g_wines.png" class="d-block w-100" alt="Slide 1">
            <div class="carousel-caption d-none d-md-block">
                
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/7g_wines.png" class="d-block w-100" alt="Slide 2">
            <div class="carousel-caption d-none d-md-block">
              
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/7g_wines.png" class="d-block w-100" alt="Slide 3">
            <div class="carousel-caption d-none d-md-block">
             
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="card h-100">
                <img src="~/images/Wine_1.jpg" class="card-img-top custom-img-size mx-auto my-4" alt="Image 1">
                <div class="card-body text-center">
                    <h5 class="card-title"><a class="card-link" asp-page="/About_us">About us</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="card h-100">
                <img src="~/images/Wine_2.jpg" class="card-img-top custom-img-size mx-auto my-4" alt="Image 2">
                <div class="card-body text-center">
                    <h5 class="card-title"><a class="card-link" asp-page="/Contact_us">Contact us</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="card h-100">
                <img src="~/images/Wine_3.jpg" class="card-img-top custom-img-size mx-auto my-4" alt="Image 3">
                <div class="card-body text-center">
                    <h5 class="card-title"><a class="card-link" asp-page="/Index">Index</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="card h-100">
                <img src="~/images/Wine_4.jpg" class="card-img-top custom-img-size mx-auto my-4" alt="Image 4">
                <div class="card-body text-center">
                    <h5 class="card-title"><a class="card-link" asp-page="/Wines">Wines</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>