@page
@model WineTest.Pages.WinesModel
@{
	 ViewData["Title"] = "Wines";
}
    <h1 class="display-4">Hope you enjoy the wines</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <pa>and more information about our wines here as well</pa>
</div>
